$accent-color: #199d00;

.mobile-nav {
  background-color: #000;
  opacity: 0.8;
  position: absolute;
  top: 8vh;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;

  @media screen and (min-width: 1025px) {
    display: none;
  }

  ul {
    list-style: none;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: $accent-color;
      }

      li {
        font-size: 2.5rem;
        padding: 1em;
        text-align: center;
        text-transform: uppercase;

        @media screen and (max-width: 480px) {
          font-size: 1.75rem;
        }
      }
    }
  }
}