body {
  text-align: center;
  box-sizing: content-box;
  background-color: lightgray;
  color: rgb(50, 50, 50);
}

.links {
  background-color: rgb(10, 10, 10);
  color: lightgray;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  width: 150px;
}

ul {
  width: 300px;
  margin: 0 auto;
  padding: 0;
}

li {
  list-style-type: none;
}

footer {
  margin: 30px;
}