html {
  background: url(palette.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  box-sizing: border-box;
  text-align: center;
  position: relative;
  top: 50px;
}

button {
  margin: 10px;
}

.black {
  background-color: black;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin-right: 15px;
  width: 40px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.pixel-board {
  display: table;
  margin: 0 auto;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
}
