body {
  background-color: rgb(253 , 251 , 251);
  font-family: Roboto, sans-serif;
  color: darkblue;
  font-size: large;
  margin: 0;
  text-align: center;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: black;
  color: white;
  width: 100%;
}

#minha_foto {
  width: 30%;
}

table , th , td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
}

table {
  margin: 0 auto;
}

.nav-links li {
  display: inline;
  margin: 25px;
}

.nav-links {
  padding-top: 80px;
}

#licoes_aprendidas , #licoes_a_aprender {
  line-height: 30px;
  display: inline-block;
  margin: 20px;
}

#social a {
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 20px 0;
}

#social {
  background-color: black;
  width: 250px;
  margin: 0 auto;
  border-radius: 15px;
}

.lado-esquerdo {
  float: left;
  width: 50%;
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
}

.lado-direito {
  float: right;
  width: 40%;
  border: 1px solid gray;
  padding: 10px;
  margin: 30px 10px 0 0;
}

#rodape {
  clear: both;
  background-color: black;
  color: white;
}
